<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel="stylesheet" href="css/Actualites.css">

  <!-- Animation qui marche pas sur du angular :(
  <script src="js/Actualites.js"></script>
  -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>


  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js'></script>
  <script src='js/news.js'></script>


  <title>Actualités</title>

</head>

<body ng-app="consumeRestApp">

<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="Connexion.html">
        <img src="img/Home3.png" width="30" height="30" alt="">
      </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="Actualites.html">Actualités</a>

        <li class="nav-item">
          <a class="nav-link" href="Decouverte.html"> Découverte </a>

        <!--
        <li class="nav-item">
          <a class="nav-link" href="Profil.html"> Profil </a>
        -->

      </ul>



      <!--
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#AjoutActu">Ajouter une
        Actualité</button>
-->


      <div class="justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="ListeJeux.html">Jeux </a>

          <li class="nav-item">
            <a class="nav-link" href="Companies.html"> Compagnies </a>

        </ul>
      </div>

      <span class="badge badge-pill badge-info">
          Retrouve tes actualités préférés juste ici !!
        </span>





    </div>


  </nav>
</header>

<!-- Modal ajout actualité -->
<!--
<div class="modal fade modalList" id="AjoutActu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajout d'une Actualité</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" >Jeu :</label>
              </div>
              <select class="custom-select" id="inputJeuSelection">
                <option selected>Choose...</option>
                <option value="1">Apex Legends</option>
                <option value="2">Far Cry 3</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Titre :</label>
            <input type="text" class="form-control" id="TitreAjoutEvent">
          </div>

          <div class="form-group">
            <label class="control-label">Description :</label>
            <textarea class="form-control" id="messageAjoutEvent"></textarea>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="SauvegarderEvent" type="button" class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
-->
<main>


  <ul class="list-group" ng-controller="ArticlesCtrl">
    <li class="list-group-item" ng-repeat="(key, article) in articles" >
      <div class="container bg rounded" ng-controller="ArticleCtrl" ng-init="init(key)">

        <div class="row justify-content-between">

          <div class="col-sm-8">
            <h1 id="titreList1">
              {{article.title}}
            </h1>
          </div>

          <!--
          <div class="col-4">
            <button type="button" class="close">
              <span class="spancross" aria-hidden="true">&times;</span>
            </button>
          </div>
          -->

        </div>

        <div id="containerJeuCompanie" class="container p-3 my-3 border-dark rounded" ng-repeat="(key2, g) in article.game">
          <div class="row ">
            <div class="col">
              <h5>Jeu</h5>
            </div>
            <div class="col border-dark border-right">
              <button id="btnJeu" type="button" class="btn btn-outline-info btn-sm btn-block" data-toggle="modal"
                      data-target="#detailJeu{{key}}">{{g}}</button>
            </div>
            <div class="col">
              <h5>Compagnie</h5>
            </div>
            <div class="col" ng-controller="ArticleGameCtrl" ng-init="init(key2)">
              <button id="btnCompanie" type="button" class="btn btn-outline-info btn-sm btn-block" data-toggle="modal"
                      data-target="#detailCompanie{{key}}" ng-repeat="c in newsGame.company">{{c}}</button>
            </div>
            <div>
            </div>

          </div>
        </div>

        <!-- Modal détail jeu -->
        <div class="modal fade modalList" id="detailJeu{{key}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TitreJeu" ng-repeat="g in article.game">{{g}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" ng-repeat="(key3, g) in article.game" ng-controller="ArticleGameCtrl" ng-init="init(key3)">
                {{newsGame.description}}
              </div>
              <div class="modal-footer">
                <a role="button" class="btn btn-info" href="ListeJeux.html">Tous les jeux</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal détail companies -->
        <div class="modal fade modalList" id="detailCompanie{{key}}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" ng-repeat="(key13, game) in article.game" ng-controller="ArticleGameCtrl" ng-init="init(key13)">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TitreCompanie" ng-repeat="c in newsGame.company">{{c}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" ng-repeat="(key12, company) in newsGame.company" ng-controller="ArticleCompanyCtrl" ng-init="init(key12)">
                {{newsCompany.description}}
              </div>
              <div class="modal-footer">
                <a role="button" class="btn btn-info" href="Companies.html">Toutes les compagnies</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <h4>
              Description
            </h4>
            <p class="Description">
              {{article.text}}
            </p>
            <!--
            <button type="button" class="btn btn-outline-danger">Supprimer cette actualité</button>
            -->
          </div>
        </div>

      </div>

    </li>

  </ul>
</main>





</body>


</html>