<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="css/Companies.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="js/ListeJeux.js"></script>

    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js'></script>
    <script src='js/companies.js'></script>

    <title>Actualités</title>

</head>

<body ng-app='consumeRestApp'>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="Connexion.html">
                <img src="img/Home3.png" width="30" height="30" alt="">
            </a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Actualites.html">Actualités</a>

                <li class="nav-item">
                    <a class="nav-link" href="Decouverte.html"> Découverte </a>

                <!--
                <li class="nav-item">
                    <a class="nav-link" href="Profil.html"> Profil </a>
                -->

            </ul>

            <div class="justify-content-between">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="ListeJeux.html">Jeux </a>

                    <li class="nav-item active">
                        <a class="nav-link" href="Companies.html"> Compagnies </a>

                </ul>
            </div>
            <span class="badge badge-pill badge-info">
                    Retrouve toutes les compagnies ici !
                </span>
        </div>
    </nav>
</header>

<main>
    <div class="container">

        <h1 class="NameCompanie">
            Compagnies
        </h1>

        <div class="list-group" ng-controller='CompaniesCtrl'>
            <div ng-repeat="(key,comp) in companies ">
                <div ng-controller="CompanyCtrl" ng-init="init(key)">
                    <div class="list-group-item list-group-item-action flex-column align-items-start rounded">
                        <a data-toggle="modal" data-target="#detailCompanie{{key}}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{comp}}</h5>
                                <img src={{company.imageURL}} alt="image-companie" height="40px">
                            </div>
                        </a>
                        <!--
                        <button id="btnSuivre{{key}}" type="button" class="btn btn-outline-danger btn-block"
                                onclick="changeEtatCompanies()">
                            Ne plus Suivre
                        </button>
                        -->

                    </div>


                    <div class="modal fade" id="detailCompanie{{key}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TitreCompanie">{{company.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p id="DetailTextCompanie">{{company.description}}</p>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="(key, game) in company.games">
                                            <h5>{{game}}</h5>
                                            <p>Détail du jeu <a href="ListeJeux.html" role="button"
                                                                class="btn btn-info btn-sm">ici</a></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <a data-toggle="modal" data-target="#detailCompanie">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Ubisoft</h5>
                        <img id="imageCompanie" src="img/Ubisoft_Logo.png" alt="image-companie" height="40px">
                    </div>
                    <hr>
                </a>
                <button id="btnSuivre1" type="button" class="btn btn-outline-success btn-block"
                        onclick="changeEtatCompanies()">Suivre
                </button>
            </div>


            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <a data-toggle="modal" data-target="#detailCompanie">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Electronic Arts</h5>
                        <img src="img/EA_logo.png" alt="image-companie" height="40px">
                    </div>
                    <hr>
                </a>
                <button id="btnSuivre2" type="button" class="btn btn-outline-danger btn-block"
                        onclick="changeEtatCompanies()">
                    Ne plus Suivre
                </button>
            </div>
            -->

        </div>
    </div>


    <!-- Modal detail companie -->
    <!--
    <div class="modal fade" id="detailCompanie" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TitreCompanie">Ubisoft</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="DetailTextCompanie">Ubisoft est une entreprise...</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5>Far Cry 3</h5>
                            <p>Détail du jeu <a href="ListeJeux.html" role="button"
                                                class="btn btn-info btn-sm">ici</a></p>

                        </li>
                        <li class="list-group-item">
                            <h5>Assassin's Creed</h5>
                            <p>Détail du jeu <a href="ListeJeux.html" role="button"
                                                class="btn btn-info btn-sm">ici</a></p>

                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    -->

</main>


</body>


</html>