<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
  <link rel="stylesheet" href="css/Connexion.css">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js'></script>
  <script src='js/connexion.js'></script>


  <title>Connexion</title>

</head>

<body ng-app="connexionApp">

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="img/Home3.png" width="30" height="30" alt="">
        </a>
      </nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="Actualites.html">Actualités <span class="sr-only"></span></a>

          <li class="nav-item ">
            <a class="nav-link" href="Decouverte.html"> Découverte <span class="sr-only"></span></a>

          <!--
          <li class="nav-item ">
            <a class="nav-link" href="Profil.html"> Profil <span class="sr-only"></span></a>
            -->

        </ul>

      </div>
    </nav>
  </header>



  <main>



    <div class="justify-content-md-center connexion" ng-controller="ConnexionCtrl">


      <form>
        <div class="form-group">
          <label for="exampleInputEmail1"> Adresse mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="email"
            placeholder="Entre ton email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mot de Passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de Passe" ng-model="password">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="init(email, password)">Entrer</button>
      </form>


    </div>



  </main>




</body>

</html>