/*


body{
    background-color: rgb(228, 228, 228);
}


.list-group .list-group-item{
    background-color: rgba(61, 61, 61, 0);

}
*/

/*
Erreur de lecture wtf du coup idem que actualites
 */

header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

main {
    padding-top: 70px;
}



.list-group {
    color: lightgray;
}

.modalList {
    color: black;
}


#containerJeuCompanie {
    background-color: rgba(44, 44, 44, 0.877);
}


.bg {
    width: 150%;
    background-image: url("../img/Game2.jpg");

    padding: 1.5%;
    transition: 0.3s
}



.bg:hover{
    box-shadow: 5px 5px 20px rgba(99, 99, 99, 0.616);
}

.list-group-item {

}

h1, h4 {
    text-shadow: 2px 0px 10px rgb(0, 0, 0);
}

.spancross {
    color:white;
}

.col-4 {
    padding-right: 2% ;
}