.bg {
    width: 150%;
    background-image: url("../img/Game2.jpg");

    padding: 1.5%;
    transition: 0.3s
}

.bg:hover{
    box-shadow: 5px 5px 20px rgba(99, 99, 99, 0.616);
}

h1 {
    color: white;
    text-shadow: 2px 0px 10px rgb(0, 0, 0);
}