header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

main {
    padding-top: 70px;
}


.list-group {
    color: lightgray;
}

.modalList {
    color: black;
}

.fixed-left {
    /*background-color: rgb(0, 0, 0);*/
    height: 90%;
    position: fixed;
    left: 0;
}

.fixed-left::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.fixed-left {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.col-md-auto {
    width: 80%;
}

.NameCompanie {
    margin-top: 2em;
}

@media (max-width: 1400px) {
    .fixed-left {
        display: none;
    }
    .col-md-auto {
        width: 100%;
    }

}



#containerJeuCompanie {
    background-color: rgba(44, 44, 44, 0.877);
}


.bg {
    width: 100%;
    background-image: url("../img/Game2.jpg");

    padding: 1.5%;
    transition: 0.3s
}



.bg:hover{
    box-shadow: 5px 5px 20px rgba(99, 99, 99, 0.616);
}

h1, h4 {
    text-shadow: 2px 0px 10px rgb(0, 0, 0);
}

.spancross {
    color:white;
}

.col-4 {
    padding-right: 2% ;
}

